/* section one */

/* @media screen and (min-width: 1158px) {
  .container-sectionone {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f4f4fd;
    border-radius: 4px;
    padding: 24px 0;
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 428px) and (max-width: 767px) {
  .sectionone-list {
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .sectionone-list-list {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .sectionone .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .sectionone-list-list {
    width: calc((100% - 72px) / 4);
  }
}

@media screen and (min-width: 428px) and (max-width: 767px) {
  .sectionone .container {
    max-width: 428px;
  }
}

@media screen and (min-width: 150px) and (max-width: 428px) {
  .sectionone .container {
    width: 100%;
  }
}

@media screen and (min-width: 1158px) {
  .zagolovok {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
  }
} */

/* section two */
