/* section one */

@media screen and (min-width: 1158px) {
  .container-sectionone {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f4f4fd;
    border-radius: 4px;
    padding: 24px 0;
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 428px) and (max-width: 767px) {
  .sectionone-list {
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .sectionone-list-list {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .sectionone .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .sectionone-list-list {
    width: calc((100% - 72px) / 4);
  }
}

@media screen and (min-width: 428px) and (max-width: 767px) {
  .sectionone .container {
    max-width: 428px;
  }
}

@media screen and (min-width: 150px) and (max-width: 428px) {
  .sectionone .container {
    width: 100%;
  }
}

@media screen and (min-width: 1158px) {
  .zagolovok {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
  }
}

/* section two */

@media screen and (min-width: 150px) and (max-width: 1158px) {
  .sectiontwo {
    display: none;
  }
}

/* section three */

@media screen and (min-width: 1158px) {
  .sectionthree {
    padding: 120px 0;
  }
}

@media screen and (min-width: 1158px) {
  .sectionthree .container {
    max-width: 1158px;
  }
}

@media screen and (min-width: 1158px) {
  .sectionthree-list {
    gap: 24px;
  }
}

@media screen and (min-width: 1158px) {
  .sectionthree-list-list {
    width: calc((100% - 72px) / 4);
  }
}
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .sectionthree-list-list {
    width: calc((100% - 72px) / 2);
  }
}
@media screen and (min-width: 150px) and (max-width: 767px) {
  .sectionthree-list-list {
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .sectionthree .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .sectionthree-list {
    flex-direction: row;
    gap: 64px 24px;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 428px) and (max-width: 767px) {
  .sectionthree .container {
    max-width: 428px;
  }
}

/* section four */

@media screen and (min-width: 768px) {
  .sectionfour .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 768px) {
  .sectionfour-list {
    gap: 72px 24px;
  }
}

@media screen and (min-width: 768px) {
  .sectionfour-list-list {
    width: calc((100% - 48px) / 3);
  }
}

@media screen and (min-width: 1158px) {
  .sectionfour {
    padding: 120px 0;
  }
}

@media screen and (min-width: 1158px) {
  .sectionfour .container {
    max-width: 1158px;
    padding-left: 15px;
  }
}

@media screen and (min-width: 1158px) {
  .sectionfour-list {
    gap: 24px;
  }
}

@media screen and (min-width: 1158px) {
  .sectionfour-list-list {
    width: calc((100% - 120px) / 6);
  }
}

/* footer */

@media screen and (min-width: 768px) {
  .footer .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 768px) {
  .footer .container {
    flex-direction: row;
    gap: 72px 24px;
    flex-wrap: wrap;
    align-items: baseline;
    padding-left: 108px;
  }
}

@media screen and (min-width: 768px) {
  .footer-container {
    align-items: normal;
  }
}

@media screen and (min-width: 768px) {
  .subscribe-container {
    width: auto;
  }
}

@media screen and (min-width: 768px) {
  .subscribe-form {
    flex-direction: row;
    gap: 24px;
  }
}

@media screen and (min-width: 1158px) {
  .footer {
    padding: 100px 0;
  }
}

@media screen and (min-width: 1158px) {
  .footer .container {
    max-width: 1158px;
    padding-left: 15px;
  }
}

@media screen and (min-width: 1158px) {
  .footer-container {
    margin-right: 120px;
  }
}

@media screen and (min-width: 1158px) {
  .socialmedia-container {
    margin-right: 20px;
  }
}

/* hero */

@media screen and (min-width: 768px) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-tab.jpg);
  }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .hero-section .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .hero-section {
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
    max-width: 1440px;
  }
}

@media screen and (min-width: 1158px) {
  .hero-section .container {
    max-width: 1158px;
  }
}

@media screen and (min-width: 768px) {
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin-bottom: 48px;
  }
}

/* header */

@media screen and (min-width: 768px) {
  .header-menu {
    display: flex;
  }

  .header .list {
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .header .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .header-address {
    display: flex;
    gap: 40px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .header-address .list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .header .container {
    max-width: 768px;
    padding-right: 600px;
  }
}

@media screen and (min-width: 150px) {
  .header .container {
    max-width: 310px;
  }
}

@media screen and (min-width: 1157px) {
  .header .container {
    max-width: 1157px;
  }
  .header-navigation {
    margin-right: 200px;
  }
}
